<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Total Space Debris: <span>{{count('Space Debris')}}</span></div>
   <div>Total Communication: <span>{{count('Communication')}}</span></div>
   <div>Total Probe: <span>{{count('Probe')}}</span></div>
   <div>Total Positioning: <span>{{count('Positioning')}}</span></div>
   <div>Total Space Station: <span>{{count('Space Station')}}</span></div>
   <div>Total Telescope: <span>{{count('Telescope')}}</span></div>
</div>