.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #9b0404;
    font-weight: bold;
}

table {
  color: #f3efef;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  width: 90%;
  background: #e6a212;
}

.header-row {
    background: #050505;
    color: #dd5
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: rgb(118, 122, 121);
}